.row {
    display: flex;
    flex-direction: row;
    min-height: 200px;
}

.row > div {
    height: auto;
    margin: 3px;
    flex-grow: 1;
}

/*@media (max-width: 800px) {
    .row {
        flex-direction: column;
    }
}*/
